:root {
  --main-color: #ffffff;
  --main-bgdc: #171717;
  --clients-bgdc: #0e0e0e;
}
.light {
  --main-color: black;
  --main-bgdc: rgb(200, 200, 200);
  --clients-bgdc: rgb(150, 150, 150);
}
.page_body {
  font-family: sans-serif;
}

.page_background {
  background-color: var(--main-bgdc);
  padding-bottom: 239px;
}

.page_header {
  padding-top: 37px;
  padding-bottom: 60px;
  /* Перша половина від 120рх по макету */
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_contact {
  color: #d6af76;
  font-weight: 700;
  font-size: 20px;
  line-height: 29px;
  margin-right: 39px;
}

.accent_color {
  color: var(--main-color);
}

.header_call_back {
  color: #e4b564;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 25px 10px 50px;
  border: 1px solid #e4b564;
  background-image: url(../images/header_handset.png);
  background-repeat: no-repeat;
  background-size: 13px 13px;
  background-position: left 26px top 13px;
}

.about {
  padding-top: 60px;
  /* Друга половина від 120рх по макету */
  padding-bottom: 161px;
}

.about_title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 41px;
}
.about_text {
  color: var(--main-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 41px;
  width: 1182px;
}

.work_list {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 468px);
  column-gap: 30px;
  row-gap: 27px;
  text-align: center;
}

.work_item {
  list-style-type: none;
  /* padding-left: 43px;
  padding-right: 43px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.work_item_1 {
  grid-column: span 2;
  background-color: #634f2c;
}

.work_item_2 {
  grid-column: span 2;
  background-color: #b4a385;
}

.work_item_3 {
  grid-column: span 2;
  background-color: #e4b564;
}

.work_item_4 {
  grid-column: span 3;
  background-color: #635a4a;
}

.work_item_5 {
  grid-column: span 3;
  background-color: #b08c4d;
}

.work_name {
  color: var(--main-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.equipment {
  padding-top: 0;
  padding-bottom: 191px;
}

.section_title {
  color: var(--main-color);
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 0;
}

.equipment_list {
  list-style-type: none;
  padding-left: 0;
  margin-top: 94px;
  margin-bottom: 0;
  /* display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-between;
  gap: 26px;
  height: 900px; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 29px;
}

.equipment_list_grid1 {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0;
  display: grid;
  grid-template-rows: 313px 560px;
  row-gap: 24px;
}

.equipment_list_grid2 {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0;
  display: grid;
  grid-template-rows: 439px 405px;
  row-gap: 33px;
}

.equipment_list_grid3 {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0px;
  margin-bottom: 0;
  display: grid;
  grid-template-rows: 255px 313px 277px;
  row-gap: 26px;
}

.equipment_item {
  /* width: 467px; */
  padding-top: 44px;
  padding-left: 52px;
}

.equipment_list_grid1 .equipment_item:nth-child(1) {
  background-color: #0e0e0e;
}

.equipment_list_grid1 .equipment_item:nth-child(2) {
  background-color: #1f1f1f;
}

.equipment_list_grid2 .equipment_item:nth-child(1) {
  background-color: #242424;
}

.equipment_list_grid2 .equipment_item:nth-child(2) {
  background-color: #e4b564;
}

.equipment_list_grid3 .equipment_item:nth-child(1) {
  background-color: #1f1f1f;
}

.equipment_list_grid3 .equipment_item:nth-child(2) {
  background-color: #0e0e0e;
}

.equipment_list_grid3 .equipment_item:nth-child(3) {
  background-color: #0a0909;
}

.equipment_name {
  color: #ffffff;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.equipment_name_4 {
  color: #000000;
}

.equipment_mark {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  margin-top: 0;
  margin-bottom: 0;
}

.clients-projects {
  padding-top: 161px;
  padding-bottom: 0;
  background-color: var(--clients-bgdc);
}

.clients-projects_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 61px;
}

.all_projects {
  color: #e4b564;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 10px 40px;
  border: 1px solid #e4b564;
}

.clients_list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 391px);
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.client_item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.client_item:nth-child(1) {
  background-color: #634f2c;
}

.client_item:nth-child(2) {
  background-color: rgba(232, 210, 171, 0.76);
  display: inline-block;
  padding: 61px 80px;
}

.client_item:nth-child(3) {
  background-color: #e4b564;
}

.client_item:nth-child(4) {
  background: #635a4a;
}

.client_item:nth-child(5) {
  background: #b08c4d;
}

.client_item:nth-child(6) {
  background: #634f2c;
}

.clients_image-2 {
  margin-left: auto;
  margin-right: auto;
}

.description_address {
  text-align: center;
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  margin-top: 16px;
  margin-bottom: 0;
}
